# Virtual environments
.venv/
env/
.env

# Dataset and Unimportant Folders
dataset/
dataset1/
Addy/
Extra/
/saved_models/

# Python caching
**/__pycache__/
*.pyc
*.pyo

# IDE and OS files
.vscode/
.DS_Store